@theme {
    /* --font-sans: "Montserrat", "Montserrat-fallback", "sans-serif"; */

    --color-jaga-yellow: #FDB813;
    --color-jaga-blue: #1F3368;

    /* Black */
    --color-black-nightblack: #232323;
    --color-black-light1: #333333;
    --color-black-light2: #666666;
    --color-black-light3: #999999;
    --color-black-light4: #cccccc;
    --color-black-light5: #e6e6e6;

    /* Gray */
    --color-gray: #6d8591;
    --color-gray-light1: #879ba5;
    --color-gray-light2: #a7b6bd;
    --color-gray-light3: #c7d0d5;
    --color-gray-light4: #e0e5e8;
    --color-gray-light5: #f0f3f4;

    /* White */
    --color-white-light1: #f7f7f7;
    --color-white-light2: #f0f0f0;

    /* Blue */
    --color-blue: #21409a;
    --color-blue-light1: #2c5498;
    --color-blue-light2: #007cbd;
    --color-blue-light3: #3ea6dd;
    --color-blue-light4: #84c6e9;
    --color-blue-light5: #e3f5fe;

    /* Bondi Blue */
    --color-bondiblue: #00a6ba;
    --color-bondiblue-light1: #2eb6c6;
    --color-bondiblue-light2: #57becf;
    --color-bondiblue-light3: #9edce4;
    --color-bondiblue-light4: #caebf0;
    --color-bondiblue-light5: #e6f5f8;

    /* Blue Lagoon */
    --color-bluelagoon: #007d8e;
    --color-bluelagoon-light1: #2e94a2;
    --color-bluelagoon-light2: #5cacb7;
    --color-bluelagoon-light3: #97cad1;
    --color-bluelagoon-light4: #c6e2e5;
    --color-bluelagoon-light5: #e2f0f2;

    /* Orange */
    --color-orange: #ee4023;
    --color-orange-light1: #ef672f;
    --color-orange-light2: #f7931d;
    --color-orange-light3: #f9ba6f;
    --color-orange-light4: #fbd3a3;
    --color-orange-light5: #fce7cc;

    /* Red */
    --color-red: #c72026;
    --color-red-light1: #ed131b;
    --color-red-light2: #ff0000;
    --color-red-light3: #ff5c5c;
    --color-red-light4: #ffa6a6;
    --color-red-light5: #ffd6d6;

    /* Cerise Red */
    --color-cerisered: #e31746;
    --color-cerisered-light1: #f42c57;
    --color-cerisered-light2: #ff5070;
    --color-cerisered-light3: #ff8098;
    --color-cerisered-light4: #ffb8c6;
    --color-cerisered-light5: #ffe2e9;

    /* Maroon */
    --color-maroon: #800000;
    --color-maroon-light1: #9e1d1d;
    --color-maroon-light2: #c44b4b;
    --color-maroon-light3: #e19d9d;
    --color-maroon-light4: #fadada;
    --color-maroon-light5: #fff0f0;

    /* Yellow */
    --color-yellow: #ffd700;
    --color-yellow-light1: #ffde33;
    --color-yellow-light2: #ffe866;
    --color-yellow-light3: #fff2a3;
    --color-yellow-light4: #fff8cc;
    --color-yellow-light5: #fef7e8;

    /* Purple */
    --color-purple: #800080;
    --color-purple-light1: #9b20a2;
    --color-purple-light2: #bb4cb8;
    --color-purple-light3: #d68bd3;
    --color-purple-light4: #f0c3ec;
    --color-purple-light5: #f9e5f7;

    /* Green */
    --color-green: #008000;
    --color-green-light1: #1da237;
    --color-green-light2: #4dbe64;
    --color-green-light3: #87d894;
    --color-green-light4: #bfecc2;
    --color-green-light5: #e3f8e6;

    /* Earl's Green */
    --color-earlsgreen: #a3d944;
    --color-earlsgreen-light1: #b5e067;
    --color-earlsgreen-light2: #cde897;
    --color-earlsgreen-light3: #e5f2bd;
    --color-earlsgreen-light4: #f0f7d7;
    --color-earlsgreen-light5: #f9fbec;

    /* Tosca */
    --color-tosca: #008080;
    --color-tosca-light1: #2e8e8e;
    --color-tosca-light2: #5eaeae;
    --color-tosca-light3: #96d4d4;
    --color-tosca-light4: #c2ecec;
    --color-tosca-light5: #e5f9f9;

    /* Pink */
    --color-pink: #ff69b4;
    --color-pink-light1: #ff85c4;
    --color-pink-light2: #ffa1d4;
    --color-pink-light3: #ffbfe4;
    --color-pink-light4: #ffddf4;
    --color-pink-light5: #ffeff9;

    /* Forest Green */
    --color-forestgreen: #228b22;
    --color-forestgreen-light1: #32a132;
    --color-forestgreen-light2: #5ebb5e;
    --color-forestgreen-light3: #97d597;
    --color-forestgreen-light4: #c2ecc2;
    --color-forestgreen-light5: #e2f9e2;

    /* Wheat Yellow */
    --color-wheatyellow: #f5deb3;
    --color-wheatyellow-light1: #f7e2bd;
    --color-wheatyellow-light2: #fae8c8;
    --color-wheatyellow-light3: #fdf0d4;
    --color-wheatyellow-light4: #fef5df;
    --color-wheatyellow-light5: #fffadf;

    /* Han Blue */
    --color-hanblue: #446ccf;
    --color-hanblue-light1: #5e82d8;
    --color-hanblue-light2: #7d9fe1;
    --color-hanblue-light3: #a2baeb;
    --color-hanblue-light4: #c8d5f4;
    --color-hanblue-light5: #e3eaf9;

    --color-facebook: #3d5a99;
    --color-twitter: #00aced;
    --color-linkedin: #007bb6;
    --color-pinterest: #cb2027;
    --color-whatsapp: #25d366;
    --color-telegram: #0088cc;
    --color-youtube: #bb0000;
    --color-instagram: #e1306c;

    --text-2xs: 0.625rem;
    --text-2xs--line-height: calc(1 / 0.625);
}

@layer base {
    [x-cloak] {
        display: none !important;
    }
}
@layer components {
    h1 {
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-semibold);
    }
    h2 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-semibold);
    }
    h3 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-semibold);
    }
    h4 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
    }
    h5 {
        font-size: var(--text-lg);
        font-weight: var(--font-weight-semibold);
    }
    h6 {
        font-size: var(--text-base);
        font-weight: var(--font-weight-semibold);
    }
}

@utility instagram-gradient {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

@utility scrollbar-hidden {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility content-wrapper {
    @apply mx-auto max-w-7xl px-5 lg:px-0;
}