@import "tailwindcss" source("../../src");
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import "./fonts.css";
@import "./default.css";

a,button{
    @apply transition-all duration-300 ease-in-out hover:cursor-pointer;
}

hr{
    @apply border-black-light4;
}

#before-after-slider {
  width:100%;
  position:relative;
  overflow:hidden;
  border:3px solid white;
}

#before-after-slider:focus{
    user-select: none;
}

#before-after-slider img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    max-width: none;
}

#after-image {
  display:block;
  user-select: none;
}

#before-image {
  position:absolute;
  height:100%;
  width:50%;
  top:0;
  left:0;
  overflow:hidden;
  z-index:2;
}

#resizer {
  position:absolute;
  display:flex;
  align-items:center;
  z-index:5;
  top:0;
  left:50%;
  height:100%;
  width:4px;
  background:white;
  /*Stop vertical scrolling on touch*/
  -ms-touch-action: pan-y;
    touch-action: pan-y;
    
  user-select: none;
}

#resizer:after {
  background:linear-gradient(62deg,#c93072 5%,#3365c0);
  content:'\2194';
  font-weight:700;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  position:absolute;
  margin: 0 0 0 -20px;
  width:40px;
  height:40px;
  border-radius:50%;
  border:3px solid white;
  user-select: none;

}

#resizer:hover{
    cursor: col-resize;
}