---
import MainLayout from "@/layouts/MainLayout.astro"
import IndeksPageDesignList from "@/components/IndeksPageDesign"
---

<MainLayout>
    <div class="px-4">
        <IndeksPageDesignList client:only="react" />
    </div>
</MainLayout>
