---
import { Image } from "astro:assets";
import logoPU from "../assets/logo-pu.png";
---

<section class="py-16">
    <div class="content-wrapper">
         <Image src={logoPU} alt="" width={logoPU.width} height={logoPU.height} class="h-20 w-auto mb-4" />
        <h2>Garda terdepan dalam penanganan bencana terkini di 3 provinsi</h2>
        <p>Program pemulihan infrastruktur pasca bencana di Sumatera mencakup rekonstruksi jalan, jembatan, dan fasilitas publik yang terdampak. Setiap progres didokumentasikan untuk memastikan akuntabilitas kepada masyarakat.
        </p>
    </div>
</section>