<footer class="bg-[#F5F8FF] border-t-4 border-jaga-yellow">
    <div class="content-wrapper flex flex-col gap-6 py-6">
        <nav>
            <ul class="flex gap-5 justify-center font-bold">
                <li>
                    <a href="#map">Peta Wilayah</a>
                </li>
                <li>
                    <a href="#progres">Pemulihan</a>
                </li>
                <li>
                    <a href="#visual">Visual</a>
                </li>
            </ul>
        </nav>

        <p class="text-center w-full lg:w-5xl mx-auto">
            Program pemulihan infrastruktur pasca bencana di Sumatera mencakup rekonstruksi jalan, jembatan, dan fasilitas publik yang terdampak. Setiap progres didokumentasikan untuk memastikan akuntabilitas kepada masyarakat.
        </p>

        <div class="flex gap-2.5 justify-center items-center">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                    <rect width="28.0702" height="28.0702" rx="14.0351" fill="#3B5998"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2458 5.72063V8.41537H16.7116C16.132 8.41537 15.7569 8.52174 15.5865 8.76994C15.3819 9.01814 15.2796 9.37271 15.2796 9.8691V11.7838H18.1435L17.7685 14.7976H15.2796V22.4564H12.3135V14.7976H9.82471V11.7838H12.3135V9.58545C12.3135 8.30899 12.6545 7.35165 13.3022 6.64251C13.9841 5.96883 14.9046 5.61426 16.0297 5.61426C16.9843 5.61426 17.7003 5.64971 18.2458 5.72063Z" fill="white"/>
                </svg>
            </a>
            <a href="">
               <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.0351 28.0702C21.7865 28.0702 28.0702 21.7865 28.0702 14.0351C28.0702 6.28372 21.7865 0 14.0351 0C6.28372 0 0 6.28372 0 14.0351C0 21.7865 6.28372 28.0702 14.0351 28.0702Z" fill="black"/>
                <path d="M15.4188 12.8203L20.9702 6.36865H19.6547L14.8344 11.9705L10.9844 6.36865H6.54395L12.3658 14.8396L6.54395 21.6051H7.85953L12.9499 15.6894L17.0157 21.6051H21.4562L15.4185 12.8203H15.4188ZM13.6169 14.9142L13.027 14.0707L8.33356 7.35878H10.3542L14.1419 12.7755L14.7318 13.6191L19.6553 20.66H17.6347L13.6169 14.9146V14.9142Z" fill="white"/>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                <g clip-path="url(#clip0_2004_8552)">
                    <path d="M14.0351 0C21.7895 0 28.0702 6.2807 28.0702 14.0351C28.0702 21.7895 21.7895 28.0702 14.0351 28.0702C6.2807 28.0702 0 21.7895 0 14.0351C0 6.2807 6.2807 0 14.0351 0Z" fill="#25D366"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9113 8.12271C18.3499 6.56131 16.2797 5.70166 14.0692 5.70166C9.51654 5.70166 5.81479 9.40341 5.80602 13.956C5.80602 15.4122 6.18321 16.8332 6.91128 18.0876L5.73584 22.3683L10.113 21.2192C11.3236 21.8771 12.6744 22.228 14.0604 22.228C18.613 22.228 22.3148 18.5262 22.3148 13.9736C22.3148 11.7631 21.4551 9.69289 19.8937 8.13148L19.9113 8.12271ZM14.0692 20.8332C12.8411 20.8332 11.6306 20.4999 10.5779 19.8771L10.3236 19.728L7.72707 20.4122L8.42005 17.8771L8.25338 17.6139C7.56917 16.5174 7.20075 15.2543 7.20075 13.9648C7.20075 10.1841 10.2797 7.10517 14.0692 7.10517C15.9025 7.10517 17.6218 7.82447 18.92 9.12271C20.2183 10.421 20.9288 12.149 20.9288 13.9824C20.9288 17.7631 17.8499 20.8508 14.0604 20.8508L14.0692 20.8332ZM17.8323 15.6929C17.6218 15.5876 16.613 15.0876 16.42 15.0175C16.2271 14.9473 16.0955 14.9122 15.9551 15.1227C15.8148 15.3332 15.4201 15.7982 15.306 15.9297C15.1832 16.0701 15.0692 16.0876 14.8586 15.9824C14.6481 15.8771 13.9902 15.6578 13.2008 14.956C12.5867 14.4122 12.1744 13.7367 12.0516 13.5262C11.9288 13.3157 12.0429 13.2104 12.1393 13.1052C12.2358 13.0087 12.3499 12.8683 12.4464 12.7455C12.5516 12.6227 12.5867 12.535 12.6569 12.4034C12.7271 12.2631 12.692 12.149 12.6393 12.0438C12.5867 11.9385 12.1744 10.921 11.999 10.5087C11.8323 10.1052 11.6569 10.1578 11.5341 10.1578C11.4113 10.1578 11.2797 10.1578 11.1393 10.1578C10.999 10.1578 10.7797 10.2104 10.5867 10.4122C10.3937 10.6227 9.86742 11.1139 9.86742 12.1315C9.86742 13.149 10.6043 14.1315 10.7095 14.2631C10.8148 14.4034 12.1657 16.4824 14.2358 17.3771C14.7271 17.5876 15.113 17.7192 15.4113 17.8157C15.9025 17.9736 16.3586 17.9473 16.7095 17.8946C17.1043 17.8332 17.9288 17.3946 18.1043 16.9122C18.2797 16.4297 18.2797 16.0174 18.2271 15.9297C18.1744 15.842 18.0341 15.7894 17.8323 15.6929Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_2004_8552">
                    <rect width="28.0702" height="28.0702" fill="white"/>
                    </clipPath>
                </defs>
                </svg>
            </a>
            <a href="">
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2004_8555)">
                <path d="M14.0351 0C21.7895 0 28.0702 6.2807 28.0702 14.0351C28.0702 21.7895 21.7895 28.0702 14.0351 28.0702C6.2807 28.0702 0 21.7895 0 14.0351C0 6.2807 6.2807 0 14.0351 0Z" fill="#0088CC"/>
                <g clip-path="url(#clip1_2004_8555)">
                <path d="M8.11621 15.7949L9.73908 20.7585C9.85414 21.1117 10.289 21.2374 10.5753 21.0006L15.4211 17.0003C15.4211 17.0003 10.2716 14.9908 10.2716 15.1005C10.2716 15.2102 8.11621 15.7949 8.11621 15.7949Z" fill="#B5D1DB"/>
                <path d="M20.9025 6.25561C17.737 7.50788 7.52219 11.6941 3.65567 13.2796C3.14459 13.4896 3.17537 14.2214 3.70116 14.3887L8.11621 15.7948L9.73373 20.7423C9.79928 20.9417 9.96251 21.0701 10.1458 21.1036C10.2943 21.1317 10.5137 17.0966 10.5137 17.0966C10.5137 17.0966 15.1549 20.539 17.3557 22.1632C17.8976 22.5632 18.6722 22.2622 18.8006 21.6013C19.4562 18.2217 21.0965 9.77159 21.657 6.88174C21.7413 6.44692 21.3132 6.09104 20.9025 6.25427V6.25561Z" fill="white"/>
                <path d="M10.1452 21.1049C10.2937 21.133 10.5131 17.0979 10.5131 17.0979L18.1378 9.93611C18.1899 9.88794 18.1271 9.80633 18.0669 9.84246L8.11426 15.7947L9.73177 20.7423C9.79733 20.9416 9.96055 21.0701 10.1438 21.1035L10.1452 21.1049Z" fill="#D6E2EA"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_2004_8555">
                <rect width="28.0702" height="28.0702" fill="white"/>
                </clipPath>
                <clipPath id="clip1_2004_8555">
                <rect width="18.38" height="16.1297" fill="white" transform="translate(3.28906 6.21533)"/>
                </clipPath>
                </defs>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                    <rect width="28.0702" height="28.0702" rx="14.0351" fill="url(#paint0_linear_2004_8561)"/>
                    <path d="M17.3901 5.26318C19.9389 5.26321 22.0123 7.33671 22.0122 9.88525V17.3901C22.0122 19.9387 19.9389 22.0122 17.3901 22.0122H9.88525C7.33665 22.0122 5.26318 19.9388 5.26318 17.3901V9.88525C5.26324 7.33669 7.33668 5.26318 9.88525 5.26318H17.3901ZM9.88525 6.74951C8.15611 6.74954 6.74955 8.15612 6.74951 9.88525V17.3901C6.74951 19.1194 8.15609 20.526 9.88525 20.5259H17.3901C19.1194 20.5259 20.5259 19.1194 20.5259 17.3901V9.88525C20.5258 8.1561 19.1194 6.74951 17.3901 6.74951H9.88525ZM13.6382 9.32178C16.0178 9.32203 17.9536 11.2586 17.9536 13.6382C17.9535 16.0176 16.0177 17.9534 13.6382 17.9536C11.2585 17.9536 9.32188 16.0178 9.32178 13.6382C9.32178 11.2584 11.2584 9.32178 13.6382 9.32178ZM13.6382 10.8081C12.0778 10.8081 10.8081 12.0778 10.8081 13.6382C10.8083 15.1983 12.078 16.4673 13.6382 16.4673C15.1982 16.4671 16.4671 15.1982 16.4673 13.6382C16.4673 12.078 15.1984 10.8083 13.6382 10.8081ZM18.1343 8.06201C18.4216 8.06201 18.7037 8.17825 18.9058 8.38135C19.1087 8.58343 19.2241 8.86467 19.2241 9.15186C19.2241 9.43806 19.1087 9.71929 18.9058 9.92236C18.7027 10.1245 18.4216 10.2417 18.1343 10.2417C17.8481 10.2416 17.5667 10.1244 17.3647 9.92236C17.1618 9.71929 17.0454 9.43815 17.0454 9.15186C17.0454 8.86467 17.1617 8.58343 17.3647 8.38135C17.5668 8.17837 17.8481 8.06214 18.1343 8.06201Z" fill="white"/>
                    <defs>
                        <linearGradient id="paint0_linear_2004_8561" x1="13.9206" y1="36.8517" x2="36.6223" y2="14.1496" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFC107"/>
                        <stop offset="0.507" stop-color="#F44336"/>
                        <stop offset="1" stop-color="#9C27B0"/>
                        </linearGradient>
                    </defs>
                    </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                    <rect width="28.0702" height="28.0702" rx="14.0351" fill="#0077B5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.62421 11.199V22.1928H6.06617V11.199H9.62421ZM9.85136 7.78046C9.85136 8.32432 9.69995 8.79049 9.32144 9.14011C8.94292 9.48973 8.45085 9.68397 7.84523 9.68397C7.23961 9.68397 6.74754 9.48973 6.40687 9.14011C6.02836 8.79049 5.87695 8.32432 5.87695 7.78046C5.87695 7.2366 6.02836 6.77044 6.40687 6.42081C6.78539 6.07119 7.27746 5.87695 7.88308 5.87695C8.4887 5.87695 8.94292 6.07119 9.32144 6.42081C9.6621 6.77044 9.85136 7.2366 9.85136 7.78046ZM22.4559 15.8607V22.1928H18.8978V16.288C18.8978 15.5111 18.7843 14.9284 18.4815 14.4622C18.1786 14.0349 17.7244 13.8018 17.1188 13.8018C16.6646 13.8018 16.2861 13.9572 15.9833 14.1903C15.6426 14.4622 15.4155 14.773 15.2641 15.1614C15.1884 15.3557 15.1505 15.6665 15.1505 16.0549V22.1928H11.5925C11.6303 19.2404 11.6303 16.8319 11.6303 15.0061C11.6303 13.1802 11.6303 12.0537 11.6303 11.704L11.5925 11.199H15.1505V12.7918C15.3019 12.5587 15.4155 12.3256 15.5669 12.1702C15.7183 11.976 15.9454 11.7817 16.2104 11.5875C16.4375 11.3933 16.7781 11.199 17.1188 11.0825C17.4973 10.966 17.9137 10.9271 18.3679 10.9271C19.617 10.9271 20.6011 11.3544 21.3582 12.1702C22.1152 13.0249 22.4559 14.268 22.4559 15.8607Z" fill="white"/>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                <g clip-path="url(#clip0_2004_8563)">
                    <path d="M14.0356 0C21.79 0 28.0707 6.2807 28.0707 14.0351C28.0707 21.7895 21.79 28.0702 14.0356 28.0702C6.28119 28.0702 0.000488281 21.7895 0.000488281 14.0351C0.000488281 6.2807 6.28119 0 14.0356 0Z" fill="#FF0000"/>
                    <path d="M12.4917 20.3333C9.07065 20.2719 7.89522 20.2105 7.17592 20.0614C6.69346 19.9649 6.26364 19.7456 5.95662 19.4298C5.71978 19.1929 5.52679 18.8245 5.37767 18.3157C5.25486 17.8947 5.20223 17.5438 5.13206 16.6842C5.02679 14.7456 5.00048 13.1579 5.13206 11.3859C5.24609 10.4035 5.29872 9.24557 6.02679 8.57013C6.3689 8.25434 6.77241 8.05259 7.22855 7.96487C7.9303 7.83329 10.9391 7.72803 14.0443 7.72803C17.1496 7.72803 20.1496 7.83329 20.8601 7.96487C21.4215 8.07013 21.9478 8.38592 22.2636 8.7982C22.9303 9.85083 22.9391 11.1491 23.0092 12.1754C23.0356 12.6579 23.0356 15.421 23.0092 15.9122C22.904 17.5263 22.8163 18.0964 22.5794 18.6842C22.4303 19.0614 22.3075 19.2543 22.0882 19.4736C21.7461 19.807 21.3075 20.035 20.8338 20.114C17.8689 20.3333 15.3514 20.3859 12.5005 20.3421L12.4917 20.3333ZM17.0268 13.8508C15.3777 12.9736 13.7987 12.1491 12.1847 11.307V16.3684C13.8864 15.4473 15.6759 14.5964 17.0356 13.8421L17.0268 13.8508Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_2004_8563">
                    <rect width="28.0702" height="28.0702" fill="white"/>
                    </clipPath>
                </defs>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                <g clip-path="url(#clip0_2004_8566)">
                    <path d="M14.0351 28.0702C21.7865 28.0702 28.0702 21.7865 28.0702 14.0351C28.0702 6.28372 21.7865 0 14.0351 0C6.28372 0 0 6.28372 0 14.0351C0 21.7865 6.28372 28.0702 14.0351 28.0702Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.86271 21.1919C4.00402 17.8435 6.49967 10.3885 12.4319 11.3265V12.0169C7.42185 11.7839 5.21649 17.76 7.86271 21.1919ZM18.6834 8.25919C19.2929 8.74627 20.1335 9.10556 21.2923 9.17414V9.85055C20.01 9.61372 19.1973 8.97649 18.6834 8.25919ZM17.0745 4.69824C17.0737 4.94785 17.1061 5.21599 17.147 5.46091H14.7821V17.2357C14.7821 17.7786 14.7263 18.2618 14.6151 18.6858C13.652 20.8086 10.9253 20.5313 10.1718 19.0745C11.2935 19.7769 13.1381 19.5903 13.8952 17.9232C14.0056 17.5 14.0614 17.0157 14.0614 16.473V4.69824H17.0748H17.0745Z" fill="#00F7EF"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7954 5.46094V5.47606C17.7962 5.74867 17.8761 9.69084 22.0132 9.93683C22.0132 13.6043 22.0151 9.93683 22.0151 12.9828C21.7043 13.0013 19.292 12.8269 17.7909 11.4879L17.7862 17.4176C17.8233 20.1026 16.3286 22.7358 13.5303 23.2663C12.7464 23.4148 12.0404 23.4316 10.8554 23.1726C4.02887 21.1306 6.29727 11.0055 13.1517 12.0892C13.1517 15.3579 13.1536 12.0883 13.1536 15.3579C10.3219 14.9413 9.37455 17.2971 10.1272 18.9836C10.8121 20.5192 13.6315 20.8523 14.615 18.6859C14.7264 18.2618 14.782 17.7784 14.782 17.2357V5.46094H17.7954Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4317 12.0167C12.6653 12.027 12.9058 12.05 13.1518 12.0889C13.1518 15.3577 13.1537 12.0881 13.1537 15.3577C10.322 14.9411 9.37464 17.2968 10.1273 18.9834C10.1411 19.0141 10.1561 19.0447 10.1718 19.0743C9.8351 18.8637 9.56419 18.5743 9.40659 18.2207C8.655 16.534 9.60125 14.1785 12.433 14.5948C12.433 11.5989 12.4321 14.092 12.4321 12.0165L12.4317 12.0167ZM21.2921 9.85058C21.5174 9.89211 21.7579 9.92171 22.013 9.93683C22.013 13.6043 22.015 9.93683 22.015 12.9828C21.7042 13.0013 19.2918 12.8269 17.7908 11.4879L17.7861 17.4176C17.8232 20.1026 16.3285 22.7358 13.5302 23.2663C12.7463 23.4148 12.0402 23.4316 10.8552 23.1726C9.52117 22.7737 8.53595 22.0649 7.8623 21.1917C8.46247 21.7131 9.21576 22.1352 10.1354 22.4108C11.3191 22.6687 12.0253 22.6521 12.8093 22.5035C15.6076 21.9727 17.1022 19.3397 17.066 16.6556L17.0699 10.7251C18.5709 12.064 20.9833 12.2393 21.2951 12.2197C21.2951 9.39097 21.2923 12.3515 21.2923 9.85036L21.2921 9.85058ZM17.7953 5.46094V5.47606C17.7953 5.63643 17.824 7.05974 18.6832 8.25922C17.6477 7.43075 17.2786 6.23404 17.1468 5.46094H17.7953Z" fill="#FF004F"/>
                </g>
                <defs>
                    <clipPath id="clip0_2004_8566">
                    <rect width="28.0702" height="28.0702" fill="white"/>
                    </clipPath>
                </defs>
                </svg>
            </a>
        </div>
       
    </div>
     <div class="border-t border-[rgba(31, 51, 104, 0.30)] text-center py-2.5">
            <p>© 2025 Jaga Indonesia. All rights reserved.</p>
        </div>
</footer>