---
import Button from "@/components/button"
---

<div x-data="{ modalOpen: false }" @keydown.escape.window="modalOpen = false" class="relative z-50 h-auto w-auto">
    <slot name="trigger">
        <Button variant="outline" @click="modalOpen=true" type="button">Open Modal Dialog</Button>
    </slot>

    <template x-teleport="body">
        <div x-show="modalOpen" class="fixed top-0 left-0 z-[99] flex h-screen w-screen items-center justify-center" x-cloak>
            <div
                x-show="modalOpen"
                x-transition:enter="ease-out duration-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="ease-in duration-300"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                @click="modalOpen=false"
                class="absolute inset-0 h-full w-full bg-gray-900/50 backdrop-blur-sm"
            >
            </div>
            <div
                x-show="modalOpen"
                x-trap.inert.noscroll="modalOpen"
                x-transition:enter="ease-out duration-300"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="ease-in duration-200"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-90"
                class="relative w-full bg-white/90 px-7 py-6 shadow-md drop-shadow-md backdrop-blur-sm sm:max-w-lg sm:rounded-lg"
            >
                <slot />
            </div>
        </div>
    </template>
</div>
