<div class="py-4 border-b-4 border-amber-200 bg-white">
    <nav class="content-wrapper flex items-center justify-between">
        <div>
            <a href="#"><h1 class="text-base lg:text-3xl font-bold text-[#203369] tracking-tight">Jaga Indonesia</h1></a>
        </div>
        <ul class="flex gap-5">
            <li>
                <a href="#map">Map</a>
            </li>
            <li>
                <a href="#progres">Pemulihan</a>
            </li>
            <li>
                <a href="#visual">Visual</a>
            </li>
        </ul>
    </nav>
</div>