---
import Respon from "@/components/Respon.astro";
import Dampak from "@/components/Dampak.astro";
import Progress from "@/components/Progress.astro";
---
<div class="space-y-6">
    <Respon />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <Dampak />
        <Progress />
    </div>
</div>